USE [master]
GO
/****** Object:  Database [ArugaSystemDB]    Script Date: 21/08/2026 10:25:31 pm ******/
CREATE DATABASE [ArugaSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArugaSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\ArugaSystem.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ArugaSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\ArugaSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArugaSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArugaSystemDB]
GO
/****** Object:  User [ArugaSystem]    Script Date: 21/08/2026 10:25:31 pm ******/
CREATE USER [ArugaSystem] FOR LOGIN [ArugaSystem] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ArugaSystem]
GO
/****** Object:  Table [dbo].[AccountOTPs]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountOTPs](
	[OTPID] [uniqueidentifier] NOT NULL,
	[AccountID] [uniqueidentifier] NOT NULL,
	[OTPHash] [nvarchar](255) NOT NULL,
	[Purpose] [nvarchar](50) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[Attempts] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OTPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[AccountType] [nvarchar](20) NOT NULL,
	[ReferenceID] [uniqueidentifier] NOT NULL,
	[Status] [bit] NOT NULL,
	[MustChangePassword] [bit] NOT NULL,
	[FailedLoginAttempts] [int] NOT NULL,
	[LockedUntil] [datetime2](7) NULL,
	[LastLogin] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Accounts_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [uniqueidentifier] NULL,
	[ActionPerformed] [nvarchar](max) NOT NULL,
	[ActionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChildParentRelationship]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChildParentRelationship](
	[RelationshipID] [uniqueidentifier] NOT NULL,
	[ChildID] [uniqueidentifier] NOT NULL,
	[ParentID] [uniqueidentifier] NOT NULL,
	[RelationshipType] [nvarchar](50) NOT NULL,
	[IsPrimaryContact] [bit] NOT NULL,
	[CanReceiveNotifications] [bit] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RelationshipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Children]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Children](
	[ChildID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[PlaceOfBirth] [nvarchar](100) NULL,
	[Address] [nvarchar](70) NULL,
	[HealthCenter] [nvarchar](100) NULL,
	[Barangay] [int] NULL,
	[Sex] [nvarchar](10) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChildID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClinicOperatingSchedule]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicOperatingSchedule](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[IsOpen] [bit] NOT NULL,
	[OpeningTime] [time](7) NOT NULL,
	[ClosingTime] [time](7) NOT NULL,
	[QueueCutoffTime] [time](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClinicRooms]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicRooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [nvarchar](10) NOT NULL,
	[AssignedDoctorID] [uniqueidentifier] NULL,
	[IsOccupied] [bit] NOT NULL,
	[CurrentChildID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClinicScheduleExceptions]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicScheduleExceptions](
	[ExceptionID] [int] IDENTITY(1,1) NOT NULL,
	[ExceptionDate] [date] NOT NULL,
	[IsOpen] [bit] NOT NULL,
	[OpeningTime] [time](7) NOT NULL,
	[ClosingTime] [time](7) NOT NULL,
	[QueueCutoffTime] [time](7) NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExceptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [uniqueidentifier] NOT NULL,
	[ParentID] [uniqueidentifier] NOT NULL,
	[ChildID] [uniqueidentifier] NOT NULL,
	[VaccineID] [int] NULL,
	[DoseNumber] [int] NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[ScheduledDate] [date] NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parents]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parents](
	[ParentID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[ContactNo] [nvarchar](20) NOT NULL,
	[BarangayNo] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[MustChangePassword] [bit] NOT NULL,
	[TemporaryPasswordExpiresAt] [datetime2](7) NULL,
	[LastLogin] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordOtps]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordOtps](
	[OTPID] [uniqueidentifier] NOT NULL,
	[ParentID] [uniqueidentifier] NULL,
	[UserID] [uniqueidentifier] NULL,
	[OTPHash] [nvarchar](255) NOT NULL,
	[Purpose] [nvarchar](50) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[UsedAt] [datetime2](7) NULL,
	[AttemptCount] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PasswordOtps] PRIMARY KEY CLUSTERED 
(
	[OTPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[ResetTokenID] [uniqueidentifier] NOT NULL,
	[AccountType] [varchar](20) NOT NULL,
	[AccountID] [uniqueidentifier] NOT NULL,
	[OTPHash] [varchar](255) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[AttemptCount] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UsedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PasswordResetTokens] PRIMARY KEY CLUSTERED 
(
	[ResetTokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personnel]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personnel](
	[PersonnelID] [uniqueidentifier] NOT NULL,
	[PersonnelCode] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[LicenseNumber] [nvarchar](100) NULL,
	[Email] [nvarchar](255) NULL,
	[ContactNo] [nvarchar](20) NULL,
	[Address] [nvarchar](500) NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Personnel] PRIMARY KEY CLUSTERED 
(
	[PersonnelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Personnel_Code] UNIQUE NONCLUSTERED 
(
	[PersonnelCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Queue]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Queue](
	[QueueID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [uniqueidentifier] NULL,
	[QueueNumber] [int] NOT NULL,
	[QueueStatus] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[AssignedRoomID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QueueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [uniqueidentifier] NOT NULL,
	[AccountID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[ContactNo] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[ContactNo] [nvarchar](20) NULL,
	[UserType] [nvarchar](20) NULL,
	[PRCNo] [nvarchar](50) NULL,
	[AccountStatus] [nvarchar](20) NULL,
	[Email] [nvarchar](200) NULL,
	[Address] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccinationRecords]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccinationRecords](
	[VaccinationRecordID] [uniqueidentifier] NOT NULL,
	[RecordCode] [nvarchar](25) NOT NULL,
	[ChildID] [uniqueidentifier] NOT NULL,
	[VaccineID] [int] NOT NULL,
	[InventoryID] [int] NULL,
	[TimelineID] [uniqueidentifier] NULL,
	[DoseNumber] [int] NOT NULL,
	[VaccinationDate] [datetime2](7) NOT NULL,
	[AdministeredByPersonnelID] [uniqueidentifier] NULL,
	[NurseObservation] [nvarchar](max) NULL,
	[DoctorDiagnosis] [nvarchar](max) NULL,
	[DoctorDiagnosedByPersonnelID] [uniqueidentifier] NULL,
	[DoctorDiagnosedAt] [datetime2](7) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_VaccinationRecords] PRIMARY KEY CLUSTERED 
(
	[VaccinationRecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_VaccinationRecord_ChildDose] UNIQUE NONCLUSTERED 
(
	[ChildID] ASC,
	[VaccineID] ASC,
	[DoseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_VaccinationRecords_RecordCode] UNIQUE NONCLUSTERED 
(
	[RecordCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccinationScheduleRules]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccinationScheduleRules](
	[RuleID] [int] IDENTITY(1,1) NOT NULL,
	[VaccineID] [int] NOT NULL,
	[DoseNumber] [int] NOT NULL,
	[RecommendedAgeDays] [int] NOT NULL,
	[MinimumAgeDays] [int] NOT NULL,
	[IntervalFromPreviousDoseDays] [int] NOT NULL,
	[SequenceOrder] [int] NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_VaccineDose] UNIQUE NONCLUSTERED 
(
	[VaccineID] ASC,
	[DoseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccinationTimeline]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccinationTimeline](
	[TimelineID] [uniqueidentifier] NOT NULL,
	[TimelineCode] [nvarchar](25) NOT NULL,
	[ChildID] [uniqueidentifier] NOT NULL,
	[VaccineID] [int] NOT NULL,
	[DoseNumber] [int] NOT NULL,
	[ExpectedDate] [date] NOT NULL,
	[ScheduledDate] [date] NOT NULL,
	[CompletedDate] [date] NULL,
	[VaccinationRecordID] [uniqueidentifier] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_VaccineTimeline] PRIMARY KEY CLUSTERED 
(
	[TimelineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_VaccineTimeline_ChildDose] UNIQUE NONCLUSTERED 
(
	[ChildID] ASC,
	[VaccineID] ASC,
	[DoseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_VaccineTimeline_Code] UNIQUE NONCLUSTERED 
(
	[TimelineCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccineDoses]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccineDoses](
	[DoseID] [int] IDENTITY(1,1) NOT NULL,
	[VaccineID] [int] NULL,
	[DoseNumber] [int] NOT NULL,
	[MinIntervalDays] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DoseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccineInventory]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccineInventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[VaccineID] [int] NOT NULL,
	[LotNumber] [nvarchar](100) NOT NULL,
	[InitialQuantity] [int] NOT NULL,
	[CurrentQuantity] [int] NOT NULL,
	[MinimumStock] [int] NOT NULL,
	[ExpirationDate] [date] NOT NULL,
	[ReceivedDate] [date] NOT NULL,
	[Supplier] [nvarchar](255) NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccines]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccines](
	[VaccineID] [int] IDENTITY(1,1) NOT NULL,
	[VaccineName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Abbreviation] [nvarchar](20) NULL,
	[TargetDisease] [nvarchar](200) NULL,
	[RecommendedAge] [nvarchar](100) NULL,
	[AgeCategory] [nvarchar](50) NULL,
	[NumberOfRequiredDoses] [int] NOT NULL,
	[DoseInterval] [nvarchar](100) NULL,
	[AdministrationRoute] [nvarchar](100) NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[VaccineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ClinicScheduleExceptions_ExceptionDate]    Script Date: 21/08/2026 10:25:32 pm ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ClinicScheduleExceptions_ExceptionDate] ON [dbo].[ClinicScheduleExceptions]
(
	[ExceptionDate] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PasswordOtps_ExpiresAt]    Script Date: 21/08/2026 10:25:32 pm ******/
CREATE NONCLUSTERED INDEX [IX_PasswordOtps_ExpiresAt] ON [dbo].[PasswordOtps]
(
	[ExpiresAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PasswordOtps_ParentID]    Script Date: 21/08/2026 10:25:32 pm ******/
CREATE NONCLUSTERED INDEX [IX_PasswordOtps_ParentID] ON [dbo].[PasswordOtps]
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PasswordOtps_UserID]    Script Date: 21/08/2026 10:25:32 pm ******/
CREATE NONCLUSTERED INDEX [IX_PasswordOtps_UserID] ON [dbo].[PasswordOtps]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PasswordResetTokens_Account]    Script Date: 21/08/2026 10:25:32 pm ******/
CREATE NONCLUSTERED INDEX [IX_PasswordResetTokens_Account] ON [dbo].[PasswordResetTokens]
(
	[AccountType] ASC,
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PasswordResetTokens_ExpiresAt]    Script Date: 21/08/2026 10:25:32 pm ******/
CREATE NONCLUSTERED INDEX [IX_PasswordResetTokens_ExpiresAt] ON [dbo].[PasswordResetTokens]
(
	[ExpiresAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountOTPs] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[AccountOTPs] ADD  DEFAULT ((0)) FOR [Attempts]
GO
ALTER TABLE [dbo].[AccountOTPs] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (newid()) FOR [AccountID]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((1)) FOR [MustChangePassword]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[ChildParentRelationship] ADD  DEFAULT (newid()) FOR [RelationshipID]
GO
ALTER TABLE [dbo].[ChildParentRelationship] ADD  DEFAULT ((0)) FOR [IsPrimaryContact]
GO
ALTER TABLE [dbo].[ChildParentRelationship] ADD  DEFAULT ((1)) FOR [CanReceiveNotifications]
GO
ALTER TABLE [dbo].[ChildParentRelationship] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[ChildParentRelationship] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Children] ADD  DEFAULT (newid()) FOR [ChildID]
GO
ALTER TABLE [dbo].[Children] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Children] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ClinicOperatingSchedule] ADD  DEFAULT ((0)) FOR [IsOpen]
GO
ALTER TABLE [dbo].[ClinicOperatingSchedule] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ClinicOperatingSchedule] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ClinicRooms] ADD  DEFAULT ((0)) FOR [IsOccupied]
GO
ALTER TABLE [dbo].[ClinicScheduleExceptions] ADD  DEFAULT ((0)) FOR [IsOpen]
GO
ALTER TABLE [dbo].[ClinicScheduleExceptions] ADD  DEFAULT ('07:00:00') FOR [OpeningTime]
GO
ALTER TABLE [dbo].[ClinicScheduleExceptions] ADD  DEFAULT ('12:00:00') FOR [ClosingTime]
GO
ALTER TABLE [dbo].[ClinicScheduleExceptions] ADD  DEFAULT ('10:00:00') FOR [QueueCutoffTime]
GO
ALTER TABLE [dbo].[ClinicScheduleExceptions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ClinicScheduleExceptions] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (newid()) FOR [NotificationID]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Parents] ADD  DEFAULT (newid()) FOR [ParentID]
GO
ALTER TABLE [dbo].[Parents] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Parents] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Parents] ADD  CONSTRAINT [DF_Parents_MustChangePassword]  DEFAULT ((0)) FOR [MustChangePassword]
GO
ALTER TABLE [dbo].[PasswordOtps] ADD  DEFAULT (newid()) FOR [OTPID]
GO
ALTER TABLE [dbo].[PasswordOtps] ADD  CONSTRAINT [DF_PasswordOtps_AttemptCount]  DEFAULT ((0)) FOR [AttemptCount]
GO
ALTER TABLE [dbo].[PasswordOtps] ADD  CONSTRAINT [DF_PasswordOtps_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  DEFAULT (newid()) FOR [ResetTokenID]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  CONSTRAINT [DF_PasswordResetTokens_IsUsed]  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  CONSTRAINT [DF_PasswordResetTokens_AttemptCount]  DEFAULT ((0)) FOR [AttemptCount]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  CONSTRAINT [DF_PasswordResetTokens_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Personnel] ADD  DEFAULT (newid()) FOR [PersonnelID]
GO
ALTER TABLE [dbo].[Personnel] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Personnel] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Queue] ADD  DEFAULT ('Waiting') FOR [QueueStatus]
GO
ALTER TABLE [dbo].[Queue] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT (newid()) FOR [StaffID]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [UserID]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Active') FOR [AccountStatus]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VaccinationRecords] ADD  DEFAULT (newid()) FOR [VaccinationRecordID]
GO
ALTER TABLE [dbo].[VaccinationRecords] ADD  DEFAULT ('Completed') FOR [Status]
GO
ALTER TABLE [dbo].[VaccinationRecords] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VaccinationScheduleRules] ADD  DEFAULT ((1)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[VaccinationScheduleRules] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VaccinationTimeline] ADD  DEFAULT (newid()) FOR [TimelineID]
GO
ALTER TABLE [dbo].[VaccinationTimeline] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[VaccinationTimeline] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VaccineInventory] ADD  DEFAULT ((20)) FOR [MinimumStock]
GO
ALTER TABLE [dbo].[VaccineInventory] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[VaccineInventory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vaccines] ADD  DEFAULT ((1)) FOR [NumberOfRequiredDoses]
GO
ALTER TABLE [dbo].[Vaccines] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Vaccines] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AccountOTPs]  WITH CHECK ADD  CONSTRAINT [FK_AccountOTPs_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[AccountOTPs] CHECK CONSTRAINT [FK_AccountOTPs_Accounts]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ChildParentRelationship]  WITH CHECK ADD  CONSTRAINT [FK_Relationship_Child] FOREIGN KEY([ChildID])
REFERENCES [dbo].[Children] ([ChildID])
GO
ALTER TABLE [dbo].[ChildParentRelationship] CHECK CONSTRAINT [FK_Relationship_Child]
GO
ALTER TABLE [dbo].[ChildParentRelationship]  WITH CHECK ADD  CONSTRAINT [FK_Relationship_Parent] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parents] ([ParentID])
GO
ALTER TABLE [dbo].[ChildParentRelationship] CHECK CONSTRAINT [FK_Relationship_Parent]
GO
ALTER TABLE [dbo].[ClinicRooms]  WITH CHECK ADD FOREIGN KEY([AssignedDoctorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ClinicRooms]  WITH CHECK ADD FOREIGN KEY([AssignedDoctorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ClinicRooms]  WITH CHECK ADD FOREIGN KEY([AssignedDoctorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ClinicRooms]  WITH CHECK ADD FOREIGN KEY([CurrentChildID])
REFERENCES [dbo].[Children] ([ChildID])
GO
ALTER TABLE [dbo].[ClinicRooms]  WITH CHECK ADD FOREIGN KEY([CurrentChildID])
REFERENCES [dbo].[Children] ([ChildID])
GO
ALTER TABLE [dbo].[ClinicRooms]  WITH CHECK ADD FOREIGN KEY([CurrentChildID])
REFERENCES [dbo].[Children] ([ChildID])
GO
ALTER TABLE [dbo].[PasswordOtps]  WITH CHECK ADD  CONSTRAINT [FK_PasswordOtps_Parents] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parents] ([ParentID])
GO
ALTER TABLE [dbo].[PasswordOtps] CHECK CONSTRAINT [FK_PasswordOtps_Parents]
GO
ALTER TABLE [dbo].[PasswordOtps]  WITH CHECK ADD  CONSTRAINT [FK_PasswordOtps_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[PasswordOtps] CHECK CONSTRAINT [FK_PasswordOtps_Users]
GO
ALTER TABLE [dbo].[Queue]  WITH CHECK ADD FOREIGN KEY([AssignedRoomID])
REFERENCES [dbo].[ClinicRooms] ([RoomID])
GO
ALTER TABLE [dbo].[Queue]  WITH CHECK ADD FOREIGN KEY([AssignedRoomID])
REFERENCES [dbo].[ClinicRooms] ([RoomID])
GO
ALTER TABLE [dbo].[Queue]  WITH CHECK ADD FOREIGN KEY([AssignedRoomID])
REFERENCES [dbo].[ClinicRooms] ([RoomID])
GO
ALTER TABLE [dbo].[Queue]  WITH CHECK ADD FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parents] ([ParentID])
GO
ALTER TABLE [dbo].[Queue]  WITH CHECK ADD FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parents] ([ParentID])
GO
ALTER TABLE [dbo].[Queue]  WITH CHECK ADD FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parents] ([ParentID])
GO
ALTER TABLE [dbo].[VaccinationRecords]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationRecords_AdministeredBy] FOREIGN KEY([AdministeredByPersonnelID])
REFERENCES [dbo].[Personnel] ([PersonnelID])
GO
ALTER TABLE [dbo].[VaccinationRecords] CHECK CONSTRAINT [FK_VaccinationRecords_AdministeredBy]
GO
ALTER TABLE [dbo].[VaccinationRecords]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationRecords_Children] FOREIGN KEY([ChildID])
REFERENCES [dbo].[Children] ([ChildID])
GO
ALTER TABLE [dbo].[VaccinationRecords] CHECK CONSTRAINT [FK_VaccinationRecords_Children]
GO
ALTER TABLE [dbo].[VaccinationRecords]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationRecords_Doctor] FOREIGN KEY([DoctorDiagnosedByPersonnelID])
REFERENCES [dbo].[Personnel] ([PersonnelID])
GO
ALTER TABLE [dbo].[VaccinationRecords] CHECK CONSTRAINT [FK_VaccinationRecords_Doctor]
GO
ALTER TABLE [dbo].[VaccinationRecords]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationRecords_Inventory] FOREIGN KEY([InventoryID])
REFERENCES [dbo].[VaccineInventory] ([InventoryID])
GO
ALTER TABLE [dbo].[VaccinationRecords] CHECK CONSTRAINT [FK_VaccinationRecords_Inventory]
GO
ALTER TABLE [dbo].[VaccinationRecords]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationRecords_Vaccines] FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[VaccinationRecords] CHECK CONSTRAINT [FK_VaccinationRecords_Vaccines]
GO
ALTER TABLE [dbo].[VaccinationScheduleRules]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationScheduleRules_Vaccines] FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[VaccinationScheduleRules] CHECK CONSTRAINT [FK_VaccinationScheduleRules_Vaccines]
GO
ALTER TABLE [dbo].[VaccinationTimeline]  WITH CHECK ADD  CONSTRAINT [FK_VaccineTimeline_Children] FOREIGN KEY([ChildID])
REFERENCES [dbo].[Children] ([ChildID])
GO
ALTER TABLE [dbo].[VaccinationTimeline] CHECK CONSTRAINT [FK_VaccineTimeline_Children]
GO
ALTER TABLE [dbo].[VaccinationTimeline]  WITH CHECK ADD  CONSTRAINT [FK_VaccineTimeline_Record] FOREIGN KEY([VaccinationRecordID])
REFERENCES [dbo].[VaccinationRecords] ([VaccinationRecordID])
GO
ALTER TABLE [dbo].[VaccinationTimeline] CHECK CONSTRAINT [FK_VaccineTimeline_Record]
GO
ALTER TABLE [dbo].[VaccinationTimeline]  WITH CHECK ADD  CONSTRAINT [FK_VaccineTimeline_Vaccines] FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[VaccinationTimeline] CHECK CONSTRAINT [FK_VaccineTimeline_Vaccines]
GO
ALTER TABLE [dbo].[VaccineDoses]  WITH CHECK ADD FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[VaccineDoses]  WITH CHECK ADD FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[VaccineDoses]  WITH CHECK ADD FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[VaccineDoses]  WITH CHECK ADD  CONSTRAINT [FK_VaccineDoses_Vaccines] FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[VaccineDoses] CHECK CONSTRAINT [FK_VaccineDoses_Vaccines]
GO
ALTER TABLE [dbo].[VaccineInventory]  WITH CHECK ADD  CONSTRAINT [FK_VaccineInventory_Vaccine] FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[VaccineInventory] CHECK CONSTRAINT [FK_VaccineInventory_Vaccine]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [CK_Accounts_AccountType] CHECK  (([AccountType]='Personnel' OR [AccountType]='Parent'))
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [CK_Accounts_AccountType]
GO
ALTER TABLE [dbo].[ClinicOperatingSchedule]  WITH CHECK ADD  CONSTRAINT [CK_ClinicOperatingSchedule_DayOfWeek] CHECK  (([DayOfWeek]>=(0) AND [DayOfWeek]<=(6)))
GO
ALTER TABLE [dbo].[ClinicOperatingSchedule] CHECK CONSTRAINT [CK_ClinicOperatingSchedule_DayOfWeek]
GO
ALTER TABLE [dbo].[ClinicOperatingSchedule]  WITH CHECK ADD  CONSTRAINT [CK_ClinicOperatingSchedule_Time] CHECK  (([OpeningTime]<[ClosingTime] AND [QueueCutoffTime]>=[OpeningTime] AND [QueueCutoffTime]<=[ClosingTime]))
GO
ALTER TABLE [dbo].[ClinicOperatingSchedule] CHECK CONSTRAINT [CK_ClinicOperatingSchedule_Time]
GO
ALTER TABLE [dbo].[Personnel]  WITH CHECK ADD  CONSTRAINT [CK_Personnel_Role] CHECK  (([Role]='Nurse' OR [Role]='Doctor' OR [Role]='Staff' OR [Role]='Administrator'))
GO
ALTER TABLE [dbo].[Personnel] CHECK CONSTRAINT [CK_Personnel_Role]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([UserType]='Request' OR [UserType]='Admission' OR [UserType]='Nurse' OR [UserType]='Doctor'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([UserType]='Request' OR [UserType]='Admission' OR [UserType]='Nurse' OR [UserType]='Doctor'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([UserType]='Request' OR [UserType]='Admission' OR [UserType]='Nurse' OR [UserType]='Doctor'))
GO
ALTER TABLE [dbo].[VaccinationTimeline]  WITH CHECK ADD  CONSTRAINT [CK_VaccineTimeline_Status] CHECK  (([Status]='Cancelled' OR [Status]='Missed' OR [Status]='Overdue' OR [Status]='Completed' OR [Status]='Due' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[VaccinationTimeline] CHECK CONSTRAINT [CK_VaccineTimeline_Status]
GO
/****** Object:  StoredProcedure [dbo].[Parent_SaveParent]    Script Date: 21/08/2026 10:25:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Parent_SaveParent]
    @ParentID UNIQUEIDENTIFIER = NULL,
    @FirstName NVARCHAR(50),
    @MiddleName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Email NVARCHAR(100),
    @ContactNo NVARCHAR(20),
    @BarangayNo NVARCHAR(20),
    @Address NVARCHAR(255)
AS
BEGIN
    IF @ParentID IS NULL OR @ParentID = '00000000-0000-0000-0000-000000000000'
    BEGIN
        INSERT INTO Parents (FirstName, MiddleName, LastName, Email, ContactNo, BarangayNo, Address)
        VALUES (@FirstName, @MiddleName, @LastName, @Email, @ContactNo, @BarangayNo, @Address)
    END
    ELSE
    BEGIN
        UPDATE Parents SET 
            FirstName = @FirstName, 
            MiddleName = @MiddleName, 
            LastName = @LastName,
            Email = @Email, 
            ContactNo = @ContactNo, 
            BarangayNo = @BarangayNo, 
            Address = @Address
        WHERE ParentID = @ParentID
    END
END
GO
USE [master]
GO
